<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018981860428-849lr3vfrcq805abqga0r8r0mlm9js3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018981860428-849lr3vfrcq805abqga0r8r0mlm9js3t</string>
	<key>API_KEY</key>
	<string>AIzaSyDOD0eza0i9PdTgdOLJEfwatUi1br4g6So</string>
	<key>GCM_SENDER_ID</key>
	<string>1018981860428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gerry.firebaselogin</string>
	<key>PROJECT_ID</key>
	<string>fir-login-b824b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-b824b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018981860428:ios:ff04e872d0f3f473e720e9</string>
</dict>
</plist>